#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 10%;
}
#product-list {
    background-color: white;
    padding-right: 30px;
    font-family: Arial Narrow, sans-serif;
    line-height: 1.5;
}
#product-container {
    display: flex;
}

ul {
    list-style: none;
}

h2 {
    font-family: Marker Felt, fantasy;
    font-size: 50px;
    color: white;
}

.eachStar {
    display: inline-block; /* align stars side by side */
    color: #fac86b;
    font-size: 1.5rem;
    background-color: unset;
    border: none;
}

.eachStar:hover {
    font-weight: bolder;
    color: #faa302;
}