#header {
    background-color: #e8e8e8;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

#main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px;
    margin-top: 20px;
    text-align: center;
    font-size: medium;
}